
<div class="container">
<!-- <button type="button" class="btn btn-info" (click)="favorite()">Favorite</button> -->
    <div class="card-group">
      <div class="card cardsize">
        <div class="row">
          <div class='col-md-6' *ngFor="let data of data">
            <img class="card-img-top cardimg" src="{{data.urlToImage}}" alt="No image" height="250px" width="350px"/>
            <div class="card-body">
              <h4 class="card-title"> <a href="{{data.url}}" target="blank">{{data.title}}</a></h4>
              <p class="card-text">{{data.description}}</p>
              <a href="/favorite" class="btn btn-danger" (click)="delete(data)">Delete</a>
            </div>
            <div class="card-footer text-muted">{{data.publishedAt}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
