<div class="container">
<div class="card-group">
   <div class="card cardsize">
     <div class="row">
       <div class='col-md-3' *ngFor="let results of results">
         <img class="card-img-top cardimg" src="{{results.urlToImage}}" alt="No image" width="350px" height="250px">
         <div class="card-body">
           <h4 class="card-title"> <a href="{{results.url}}" target="blank">{{results.title}}</a></h4>
           <p class="card-text">{{results.description}}</p>
            <a href="#" class="btn btn-primary" (click)="delete(results)">delete</a>
          </div>
         <div class="card-footer text-muted">{{results.publishedAt}}</div>
       </div>
     </div>
   </div>
 </div>
</div>

